.wrapper {
  margin: 0 auto;
  border: 5px solid #e68aa9;
  box-shadow: 5px 5px 13px #ffa2b1;
  background-color: white;
  max-width: 1000px; 
}

body {
  background-image: url(images/bg-cupcakes.jpg);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #e68aa9;
  position: sticky;
}

header a {
  text-decoration: none;
}

header h1 {
  font-size: 4.5rem;
  color: white;
  font-family: "Elsie Swash Caps", serif;
}
nav input[type="checkbox"],
nav label {
   display: none;
}
input[type="checkbox"]:not(:checked)+ul {
      display: none;
}

header nav label {
   cursor: pointer;
   display: block;
   align-self: center;
   color: white; 
   font-size: 350%;
   padding: .25rem .5rem .5rem .5rem;
}

nav ul {
   background-color: #e68aa9;
   display: flex;
   text-align: center;
   flex-direction: column;
   position: absolute;
   top: 90px;
   right: 0px;
   background-color: #e68aa9;
   overflow: hidden;
}

nav ul li {
   text-align: center;
   padding: 0;
   border-bottom: 3px solid #e68aa9;
}

nav ul li:last-child {
   border-bottom: none;
}

nav ul li a {
   display: block;
   font-size: 125%;
   color: white;
   margin: 0;
   border-radius: 0;
   padding: 1rem 2rem;
}

nav ul li a:hover {
   color: white;
}

nav a {
  padding: .75rem .75rem;
  font-size: 120%;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  color: snow;
  letter-spacing: .5px;
  justify-content: center;
  transition: all .75s ease;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

p {
  color: black;
}

h2 {
  font-size: 160%;
  color: black;
}

main { 
  font-size: 135%;
  line-height: 1.4;
  padding: 1rem 2rem;
}

main h2 {
  color: #e68aa9;
}

main img {
  max-width: 100%;
  height: auto;
}

.img-left {
   float: left;
   margin: 0 2rem 1rem 0;
}
 
.img-right {
   float: right;
   margin: 0 0 1rem 2rem;
}
 
.clear-left {
   clear: left;
}
 
.clear-right {
   clear: right;
}
 
.clear-both {
   clear: both;
}
 
.homepage-intro{
   margin-top: 1rem;
}

.homepage-intro img {
   border: 3px solid #e68aa9; 
   box-shadow: 0px 5px 10px -5px black;
   border-radius: 10px;
}
 
.homepage-intro strong {
   color: #e58aa9;
}

.scrollh2 {
  text-align: center;
  padding: 2rem;
  font-size: 170%;
}

div.scroll-container {
  background-color: #759f75;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  margin: 0 4rem 4rem 4rem;
}

div.scroll-container img {
  max-width: 400px;
  max-height: 500px;
  transition: all .6s ease-in-out;
}
div.scroll-container img:hover{
   transform: scale(1.08);
   box-shadow: 5px 5px 10px white;
}

.button {
  text-align: center;
  font-size: 300%;
  margin: 1rem 10rem;
  background-color: #759f75;
  color: white;
  border-radius: 3rem;
  padding: 1rem;
  transition: all 1s ease-in-out;
}

p.button a {
  color: white;
}

.button:hover {
  transform: scale(1.25);
  background-color: #e68aa9;
}

footer {
  background-color: #e68aa9;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem 1rem 0 1rem;
  justify-content: space-between;
}

footer p {
  color: white;
}

footer ul {
  list-style-type: none;
}

.contact {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: 6rem;
}

.contact h3 {
  font-size: 135%;
}

.contact p {
  font-size: 115%;
  font-weight: bold;
}

.extra {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 90%;
}

footer img {
  grid-column: 2/3;
  max-width: 60px;
  border-radius: 25px;
  margin-left: 5rem;
}

.hours {
  grid-column: 3/4;
  grid-row: 1/2;
}

.hours h3 {
  font-size: 135%;
}


/* About Us */

p{
   font-size: 160%;
}
img{
   max-height: 300px;
   margin: 1rem 1rem 2rem 1rem;
}
section.aboutus{
   margin: 1rem;
}
section.aboutus h2{
   margin: 1rem 0;
}
section.aboutus img{
   float: right;
   border: 3px solid #e68aa9; 
   box-shadow: 0px 5px 10px -5px black;
   border-radius: 10px;
}
.founder{
   display: flex;
}
.founder img{
   margin-left: 10rem;
   border: 3px solid #e68aa9; 
   box-shadow: 0px 5px 10px -5px black;
   border-radius: 10px;
}
.founder h3{
   margin: 1rem 1rem 0rem 1rem;
   color: white;
}
.fbio{
   margin:0rem 7rem 1rem 1rem;
}

/* Catering */

img{
   border: 3px solid #e68aa9; 
   box-shadow: 0px 5px 10px -5px black;
   border-radius: 10px;
}
.occasions img{
   max-width: 300px;
   margin-left: 0;
}
.occasions h3{
   font-size: 130%;
   color: #759f75;
}
.occasions{
   display: grid;
   grid-template-columns: 1fr 1fr ;
   grid-gap: 3rem;
   justify-content: center;
   align-items: center;
   margin-top: 2rem;
}
.occasions p{
   font-size: 110%;
}

/* FAQ's */

.faqs h3{
   font-size: 140%;
   color: #759f75;
}
h4{
   font-size: 120%;
}
.faqs p{
   font-size: 100%;
}

/* Cupcakes */

.cch2{
   font-size: 300%;
}

.cch3{
   font-size: 250%;
   color: #759f75;
}
.cupcakes p, .prices p{
   font-size: 90%;
}
.cupcakes h4{
   font-size: 200%;
   font-family: "Niconne", cursive;
}
.cupcakes{
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.cupcakes ul{
   list-style-type: none;
}
.cupcakes ul li {
   font-size: 160%;
   font-family: "Quintessential", serif;
}
.cupcakes img{
   max-width: 300px;
   margin-left: 0;
}
.cupcakes h5{
   background-color: #e58aa9;
   color: white;
   font-size: 90%;
   padding: 1rem 1rem 1rem 1rem;
   margin: 1rem 21rem 1rem 0 ;
   box-shadow: 6px 6px 15px #759f75 ;
}

/* Responsive */

@media screen {
   /* Home */

   

   /* About us */
   /* Catering */
   /* Cupcakes */
   /* FAQ's */
}